* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.navbar{
    background-color: #fff;
    padding: 0.5rem 1rem;
    height: 60px;
}

.links{
    /* все по центру */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link{
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-family: 'KoHo';
    font-weight: 400;
}

.link__{
    margin: 0 1rem;
    text-decoration: none;
    color: #CA4747;
    font-size: 1.5rem;
    font-family: 'KoHo';
    font-weight: 400;
}

.course{
    box-sizing: border-box;
    width: 744px;
    height: 80px;

    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
    border-radius: 40px;
    text-align: center;
    /* текст по центру и сверху и слева */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.name__course{
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #CA4747;
    padding: 0 60px;
}

.creator__course{
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #CA4747;
    padding: 0 60px;
}